# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.git-pr-release

node_modules
.output
stats.html
stats-*.json
web-ext.config.ts
.wxt
.eslintcache
.git-pr-release
vitest.config.ts.*.mjs
src/localizationMessages.json

# Editor directories and files
#.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
